@model Oficina_codeFirst.Models.Peca

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Peca</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Atendimento.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Atendimento.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoPea.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoPea.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Oid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
