@model Oficina_codeFirst.Models.Fatura

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Fatura</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Atendimento.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Atendimento.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ValorRecebido)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ValorRecebido)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoPagamento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoPagamento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.parcelas)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.parcelas)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Oid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
