<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oficina - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Oficina Online", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Atendimentos", "Index", "Atendimento")</li>
                    <li>@Html.ActionLink("Carros", "Index", "Carro")</li>
                    <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                    <li>@Html.ActionLink("Faturas", "Index", "Fatura")</li>
                    <li>@Html.ActionLink("Peças", "Index", "Peca")</li>
                    <li>@Html.ActionLink("Tipos de peça", "Index", "TipoPeca")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Grupo Lindão</p>
        </footer>
    </div>
    <script src="@Url.Content("~/Scripts/bootstrap.min.css")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    </body>
</html>
